In [2]:
# Import the libraries
import pandas as pd
import numpy as np

In [3]:
# Read dataset into a DataFrame
df1 = pd.read_csv("dataset1.csv")
df2 = pd.read_csv("dataset2.csv")
df3 = pd.read_csv("dataset3.csv")

In [4]:
# Merge datasets on the 'ID' column
df = pd.merge(df1, df2, on='ID', how='outer')
df = pd.merge(df, df3, on='ID', how='outer')

In [5]:
# Check if there's any missing values or abnormal data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120115 entries, 0 to 120114
Data columns (total 26 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   ID        120115 non-null  int64
 1   gender    120115 non-null  int64
 2   minority  120115 non-null  int64
 3   deprived  120115 non-null  int64
 4   C_we      113359 non-null  float64
 5   C_wk      113359 non-null  float64
 6   G_we      113359 non-null  float64
 7   G_wk      113359 non-null  float64
 8   S_we      113359 non-null  float64
 9   S_wk      113359 non-null  float64
 10  T_we      113359 non-null  float64
 11  T_wk      113359 non-null  float64
 12  Optm      102580 non-null  float64
 13  Usef      102580 non-null  float64
 14  Relx      102580 non-null  float64
 15  Intp      102580 non-null  float64
 16  Engs      102580 non-null  float64
 17  Dealpr    102580 non-null  float64
 18  Thcklr    102580 non-null  float64
 19  Goodme    102580 non-null  float64
 20  Clsep     102580 non-null  float64
 21  Conf      102580 non-null  float64
 22  Mkmind    102580 non-null  float64
 23  Loved     102580 non-null  float64
 24  Intthg    102580 non-null  float64
 25  Cheer     102580 non-null  float64
dtypes: float64(22), int64(4)
memory usage: 23.8 MB

In [6]:
# Save the merged data to a new CSV file
df.to_csv('merged_dataset.csv', index=False)

In [6]:
# check for NaN values
# summary of NaN values across columns
nan_summary = df.isna().sum()
print("NaN Summary:")
print(nan_summary)

NaN Summary:
ID              0
gender          0
minority        0
deprived        0
C_we         6756
C_wk         6756
G_we         6756
G_wk         6756
S_we         6756
S_wk         6756
T_we         6756
T_wk         6756
Optm        17535
Usef        17535
Relx        17535
Intp        17535
Engs        17535
Dealpr      17535
Thcklr      17535
Goodme      17535
Clsep       17535
Conf        17535
Mkmind      17535
Loved       17535
Intthg      17535
Cheer       17535
dtype: int64

In [7]:
# rows with any NaN values
nan_rows = df[df.isna().any(axis=1)]
print("\nRows with some NaN values:")
print(nan_rows)

Rows with some NaN values:
             ID  gender  minority  deprived  C_we  C_wk  G_we  G_wk  S_we  \
0       1000001       1         0         0   NaN   NaN   NaN   NaN   NaN
13      1000014       0         1         0   NaN   NaN   NaN   NaN   NaN
19      1000020       1         1         0   1.0   2.0   0.5   0.5   3.0
23      1000024       0         1         1   3.0   2.0   4.0   3.0   4.0
46      1000047       0         0         0   NaN   NaN   NaN   NaN   NaN
...         ...     ...       ...       ...   ...   ...   ...   ...   ...
120087  1120088       1         0         1   0.0   0.0   4.0   1.0   7.0
120090  1120091       0         1         1   NaN   NaN   NaN   NaN   NaN
120091  1120092       1         0         1   2.0   2.0   4.0   2.0   7.0
120105  1120106       1         0         1   NaN   NaN   NaN   NaN   NaN
120109  1120110       0         1         1   NaN   NaN   NaN   NaN   NaN

        S_wk  ...  Engs  Dealpr  Thcklr  Goodme  Clsep  Conf  Mkmind  Loved  \
0        NaN  ...   3.0     4.0     4.0     4.0    3.0   5.0     5.0    5.0
13       NaN  ...   NaN     NaN     NaN     NaN    NaN   NaN     NaN    NaN
19       3.0  ...   NaN     NaN     NaN     NaN    NaN   NaN     NaN    NaN
23       3.0  ...   NaN     NaN     NaN     NaN    NaN   NaN     NaN    NaN
46       NaN  ...   3.0     3.0     3.0     4.0    5.0   3.0     4.0    4.0
...      ...  ...   ...     ...     ...     ...    ...   ...     ...    ...
120087   7.0  ...   NaN     NaN     NaN     NaN    NaN   NaN     NaN    NaN
120090   NaN  ...   NaN     NaN     NaN     NaN    NaN   NaN     NaN    NaN
120091   7.0  ...   NaN     NaN     NaN     NaN    NaN   NaN     NaN    NaN
120105   NaN  ...   4.0     4.0     4.0     3.0    3.0   4.0     5.0    4.0
120109   NaN  ...   NaN     NaN     NaN     NaN    NaN   NaN     NaN    NaN

        Intthg  Cheer
0          4.0    4.0
13         NaN    NaN
19         NaN    NaN
23         NaN    NaN
46         5.0    4.0
...        ...    ...
120087     NaN    NaN
120090     NaN    NaN
120091     NaN    NaN
120105     5.0    3.0
120109     NaN    NaN

[21837 rows x 26 columns]

In [8]:
# Check for rows where some values are NaN, exclude the first 4 columns
rows_some_nan = df[df.iloc[:, 4:].isna().any(axis=1)]
print(f"Number of rows with some NaN values (excluding first 4 columns): {len(rows_some_nan)}")
print(rows_some_nan)

Number of rows with some NaN values (excluding first 4 columns): 21837
             ID  gender  minority  deprived  C_we  C_wk  G_we  G_wk  S_we  \
0       1000001       1         0         0   NaN   NaN   NaN   NaN   NaN
13      1000014       0         1         0   NaN   NaN   NaN   NaN   NaN
19      1000020       1         1         0   1.0   2.0   0.5   0.5   3.0
23      1000024       0         1         1   3.0   2.0   4.0   3.0   4.0
46      1000047       0         0         0   NaN   NaN   NaN   NaN   NaN
...         ...     ...       ...       ...   ...   ...   ...   ...   ...
120087  1120088       1         0         1   0.0   0.0   4.0   1.0   7.0
120090  1120091       0         1         1   NaN   NaN   NaN   NaN   NaN
120091  1120092       1         0         1   2.0   2.0   4.0   2.0   7.0
120105  1120106       1         0         1   NaN   NaN   NaN   NaN   NaN
120109  1120110       0         1         1   NaN   NaN   NaN   NaN   NaN

        S_wk  ...  Engs  Dealpr  Thcklr  Goodme  Clsep  Conf  Mkmind  Loved  \
0        NaN  ...   3.0     4.0     4.0     4.0    3.0   5.0     5.0    5.0
13       NaN  ...   NaN     NaN     NaN     NaN    NaN   NaN     NaN    NaN
19       3.0  ...   NaN     NaN     NaN     NaN    NaN   NaN     NaN    NaN
23       3.0  ...   NaN     NaN     NaN     NaN    NaN   NaN     NaN    NaN
46       NaN  ...   3.0     3.0     3.0     4.0    5.0   3.0     4.0    4.0
...      ...  ...   ...     ...     ...     ...    ...   ...     ...    ...
120087   7.0  ...   NaN     NaN     NaN     NaN    NaN   NaN     NaN    NaN
120090   NaN  ...   NaN     NaN     NaN     NaN    NaN   NaN     NaN    NaN
120091   7.0  ...   NaN     NaN     NaN     NaN    NaN   NaN     NaN    NaN
120105   NaN  ...   4.0     4.0     4.0     3.0    3.0   4.0     5.0    4.0
120109   NaN  ...   NaN     NaN     NaN     NaN    NaN   NaN     NaN    NaN

        Intthg  Cheer
0          4.0    4.0
13         NaN    NaN
19         NaN    NaN
23         NaN    NaN
46         5.0    4.0
...        ...    ...
120087     NaN    NaN
120090     NaN    NaN
120091     NaN    NaN
120105     5.0    3.0
120109     NaN    NaN

[21837 rows x 26 columns]

In [9]:
# check for rows where all values are NaN, exclude the first 4 columns
nan_rows = df[df.iloc[:, 4:].isna().all(axis=1)]
print(f"Number of rows with all NaN values (excluding first 4 columns): {len(nan_rows)}")
print(nan_rows)

Number of rows with all NaN values (excluding first 4 columns): 2454
             ID  gender  minority  deprived  C_we  C_wk  G_we  G_wk  S_we  \
13      1000014       0         1         0   NaN   NaN   NaN   NaN   NaN
87      1000088       0         0         0   NaN   NaN   NaN   NaN   NaN
96      1000097       0         0         0   NaN   NaN   NaN   NaN   NaN
140     1000141       0         1         0   NaN   NaN   NaN   NaN   NaN
165     1000166       0         0         0   NaN   NaN   NaN   NaN   NaN
...         ...     ...       ...       ...   ...   ...   ...   ...   ...
120032  1120033       0         1         0   NaN   NaN   NaN   NaN   NaN
120075  1120076       1         1         0   NaN   NaN   NaN   NaN   NaN
120076  1120077       1         0         0   NaN   NaN   NaN   NaN   NaN
120090  1120091       0         1         1   NaN   NaN   NaN   NaN   NaN
120109  1120110       0         1         1   NaN   NaN   NaN   NaN   NaN

        S_wk  ...  Engs  Dealpr  Thcklr  Goodme  Clsep  Conf  Mkmind  Loved  \
13       NaN  ...   NaN     NaN     NaN     NaN    NaN   NaN     NaN    NaN
87       NaN  ...   NaN     NaN     NaN     NaN    NaN   NaN     NaN    NaN
96       NaN  ...   NaN     NaN     NaN     NaN    NaN   NaN     NaN    NaN
140      NaN  ...   NaN     NaN     NaN     NaN    NaN   NaN     NaN    NaN
165      NaN  ...   NaN     NaN     NaN     NaN    NaN   NaN     NaN    NaN
...      ...  ...   ...     ...     ...     ...    ...   ...     ...    ...
120032   NaN  ...   NaN     NaN     NaN     NaN    NaN   NaN     NaN    NaN
120075   NaN  ...   NaN     NaN     NaN     NaN    NaN   NaN     NaN    NaN
120076   NaN  ...   NaN     NaN     NaN     NaN    NaN   NaN     NaN    NaN
120090   NaN  ...   NaN     NaN     NaN     NaN    NaN   NaN     NaN    NaN
120109   NaN  ...   NaN     NaN     NaN     NaN    NaN   NaN     NaN    NaN

        Intthg  Cheer
13         NaN    NaN
87         NaN    NaN
96         NaN    NaN
140        NaN    NaN
165        NaN    NaN
...        ...    ...
120032     NaN    NaN
120075     NaN    NaN
120076     NaN    NaN
120090     NaN    NaN
120109     NaN    NaN

[2454 rows x 26 columns]

Remove and clean the merged data

In [10]:
# Read the CSV file into a DataFrame
df = pd.read_csv('merged_dataset.csv')

In [11]:
# Define the number of decimal places to round to
decimal_places = 2

In [13]:
# Impute missing values by filling them with the mean of each column

df_filled = df.apply(lambda col: col.fillna(round(col.mean(), decimal_places)), axis=0)

In [14]:
# Display the filled DataFrame
print("DataFrame after filling NaNs with the mean of each column:")
print(df_filled)

DataFrame after filling NaNs with the mean of each column:
             ID  gender  minority  deprived  C_we  C_wk  G_we  G_wk  S_we  \
0       1000001       1         0         0  2.19  1.77  1.74  1.01  3.52
1       1000002       0         1         0  0.50  0.50  0.00  0.00  1.00
2       1000003       0         0         1  1.00  0.50  0.00  0.00  2.00
3       1000004       0         0         1  3.00  1.00  2.00  0.00  3.00
4       1000005       0         0         1  4.00  2.00  0.00  0.00  4.00
...         ...     ...       ...       ...   ...   ...   ...   ...   ...
120110  1120111       1         0         1  7.00  6.00  7.00  6.00  3.00
120111  1120112       1         0         1  3.00  4.00  7.00  7.00  6.00
120112  1120113       1         0         1  2.00  0.00  4.00  2.00  0.00
120113  1120114       1         0         1  4.00  2.00  5.00  3.00  0.50
120114  1120115       1         0         1  0.00  0.00  7.00  6.00  0.00

        S_wk  ...  Engs  Dealpr  Thcklr  Goodme  Clsep  Conf  Mkmind  Loved  \
0       2.91  ...   3.0     4.0     4.0     4.0    3.0   5.0     5.0    5.0
1       0.50  ...   4.0     4.0     5.0     5.0    3.0   4.0     5.0    5.0
2       2.00  ...   4.0     3.0     3.0     2.0    2.0   2.0     5.0    3.0
3       2.00  ...   2.0     4.0     4.0     3.0    4.0   4.0     5.0    4.0
4       3.00  ...   2.0     2.0     2.0     1.0    3.0   1.0     3.0    4.0
...      ...  ...   ...     ...     ...     ...    ...   ...     ...    ...
120110  1.00  ...   4.0     4.0     4.0     4.0    4.0   5.0     5.0    4.0
120111  7.00  ...   1.0     1.0     3.0     2.0    4.0   3.0     2.0    3.0
120112  0.00  ...   4.0     4.0     4.0     4.0    4.0   4.0     4.0    4.0
120113  0.50  ...   1.0     1.0     1.0     1.0    1.0   1.0     1.0    1.0
120114  0.00  ...   1.0     2.0     2.0     3.0    5.0   4.0     5.0    5.0

        Intthg  Cheer
0          4.0    4.0
1          4.0    4.0
2          3.0    3.0
3          4.0    4.0
4          2.0    2.0
...        ...    ...
120110     2.0    4.0
120111     4.0    3.0
120112     4.0    4.0
120113     1.0    1.0
120114     5.0    4.0

[120115 rows x 26 columns]

In [22]:
# Save the filled DataFrame to a CSV file
df_filled.to_csv('merged_dataset_clean.csv', index=False)